---
const { id, type = "text", label = "", value, onChange } = Astro.props;
---

<!-- Input.astro -->
<div class="custom-input__container">
  <label>{label}</label>
  <input
    class={`custom-input type-${type} margin-8 `}
    id={id}
    type={type}
    value={value}
    on:input={(event) => onChange(event.target.value)}
  />
</div>

<style lang="scss">
  .custom-input__container {
    display: flex;
    flex-direction: column;
  }

  input.custom-input {
    width: 100%;
    border: 1px solid gainsboro;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.6rem 0.6rem;
    outline: none;
  }

  .custom-input + .type-file {
    background-color: blueviolet;
  }


</style>
